<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>JoyRill智慧社区后台</title>
	<!-- Public core css/js -->
	<include file="Public/public_head"/>
</head>
<body class="nav-md">
	<include file="Public/menu"/>
	<include file="Public/top"/>
	
	<!-- page content -->
<div class="right_col" role="main">
	<div id="wrapper" style="min-width:900px">
<!-- 		<div id="register" class="animate form"> -->
			   <section class="login_content">
			      <div class="row">
			        <div class="col-md-12 col-sm-12 col-xs-12">
			          <div class="x_panel">
			            <div class="x_content">
			              <form class="form-horizontal form-label-left" id="register_form" novalidate>
			                <h1>更新超级管理员信息</h1>
			                <div class="item form-group">
			                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user_nick_name">用户名 <span class="required">*</span>
			                  </label>
			                  <div class="col-md-6 col-sm-6 col-xs-9">
			                    <input id="user_nick_name" name="user_nick_name" class="form-control col-md-7 col-xs-12" maxlength="10" placeholder="" required="required" type="text">
			                  </div>
			                </div>
			                <div class="item form-group">
			                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user_true_name">真实姓名 <span class="required">*</span>
			                  </label>
			                  <div class="col-md-6 col-sm-6 col-xs-9">
			                    <input id="user_true_name" name="user_true_name" class="form-control col-md-7 col-xs-12" maxlength="10" placeholder="" required="required" type="text">
			                  </div>
			                </div>
			                <div class="item form-group">
			                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user_gender">性别 <span class="required">*</span>
			                  </label>
			                  <div class="col-md-6 col-sm-6 col-xs-9" style="text-align:left">
			                <div id="gender" class="btn-group" data-toggle="buttons">
			                  <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
			                    <input type="radio" name="gender" value="1"> &nbsp; 男 &nbsp;
			                  </label>
			                  <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
			                    <input type="radio" name="gender" value="2"> &nbsp; 女 &nbsp;
			                  </label>
			                </div>
			              </div>
			            </div>                    
			            <div class="item form-group">
			              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user_id_card_num">身份证号 <span class="required">*</span>
			              </label>
			              <div class="col-md-6 col-sm-6 col-xs-9">
			                <input id="user_id_card_num" name="user_id_card_num" class="form-control col-md-7 col-xs-12" maxlength="18" placeholder="" required="required" type="text">
			              </div>
			            </div>                                                                       
			            <div class="item form-group">
			              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">邮箱地址 <span class="required">*</span>
			              </label>
			              <div class="col-md-6 col-sm-6 col-xs-9">
			                <input type="email" id="email" name="email" required="required" class="form-control col-md-7 col-xs-12">
			              </div>
			            </div>
			            <div class="item form-group">
			              <label for="password" class="control-label col-md-3 col-sm-3 col-xs-12">密码 <span class="required">*</span>
			              </label>
			              <div class="col-md-6 col-sm-6 col-xs-9">
			                <input id="password" type="password" name="password" data-validate-length="6,8" class="form-control col-md-7 col-xs-12" required="required">
			              </div>
			            </div>
			            <div class="item form-group">
			              <label for="password2" class="control-label col-md-3 col-sm-3 col-xs-12">再次输入密码 <span class="required">*</span>
			              </label>
			              <div class="col-md-6 col-sm-6 col-xs-9">
			                <input id="password2" type="password" name="password2" data-validate-linked="password" class="form-control col-md-7 col-xs-12" required="required">
			              </div>
			            </div>
			            <div class="item form-group">
			              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="telephone">手机号 <span class="required">*</span>
			              </label>
			              <div class="col-md-6 col-sm-6 col-xs-9">
			                <input type="tel" id="telephone" name="phone" required="required" data-validate-length-range="8,20" class="form-control col-md-7 col-xs-12">
			              </div>
			            </div>
			            <div class="ln_solid"></div>
			            <div class="form-group">
			              <div class="col-md-6 col-md-offset-3">
			                <button type="reset" class="btn btn-primary">清除</button>
			                <button id="send" type="submit" class="btn btn-success">提交</button>
			              </div>
			            </div>
			            <div class="clearfix"></div>
			          </form>
			        </div>
			      </div>
				</div>
			</div>
			  <!-- form -->
			</section>
			<!-- content -->
<!-- 	      </div> -->
    </div>
</div>
	<!-- /page content -->
	
	<include file="Public/footer"/>
	<include file="Public/public_bottom"/>
</body>
</html>