<div class="container body">
<div class="main_container">

<div class="col-md-3 left_col">
  <div class="left_col scroll-view">

    <div class="navbar nav_title" style="border: 0;">
      <a href="{:U('Admin/Index/index')}" class="site_title"><i class="fa fa-paw"></i> <span>智慧社区后台</span></a>
    </div>
    <div class="clearfix"></div>

    <!-- menu prile quick info -->
    <div class="profile">
      <div class="profile_pic">
        <img src="__PUBLIC__/admin/images/img.jpg" alt="..." class="img-circle profile_img">
      </div>
      <div class="profile_info">
        <span>Welcome,</span>
        <h2><?php echo ucfirst($_SESSION['nick_name']);?></h2>
      </div>
    </div>
    <!-- /menu prile quick info -->

    <br />

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

      <div class="menu_section">
        <h2>通用</h2>
        <ul class="nav side-menu">
          <li><a><i class="fa fa-home"></i> 主页 <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu" style="display: none">
              <li><a href="{:U('Admin/Index/index')}">控制台</a>
              </li>
            </ul>
          </li>
          <li><a><i class="fa fa-bullhorn"></i> 通知管理 <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu" style="display: none">
              <li><a href="{:U('Admin/Article/index','category_id=4')}">小区通知</a>
              </li>
              <li><a href="{:U('Admin/Article/index','category_id=5')}">政府公告</a>
              </li>
              <li><a href="{:U('Admin/Article/index','category_id=6')}">办事指南</a>
              </li>
              <li><a href="{:U('Admin/Article/index','category_id=7')}">便民服务</a>
              </li>
              <li><a href="{:U('Admin/Article/add','cid=1')}"><i class="fa fa-edit red"></i> 发布文章</a>
              </li>
              <li><a href="{:U('Admin/Article/trash')}"> <i class="fa fa-trash red"></i>回收站</a>
              </li>
            </ul>
          </li>
          <li><a><i class="fa fa-wrench"></i> 维修管理 <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu" style="display: none">
              <li><a href="{:U('Admin/Repair/toHandle')}">待处理</a>
              </li>
              <li><a href="{:U('Admin/Repair/handled')}">已处理</a>
              </li>
            </ul>
          </li>
          <li><a><i class="fa fa-envelope"></i> 反馈管理 <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu" style="display: none">
              <li><a href="{:U('Admin/Feedback/toHandle')}">待处理</a>
              </li>
              <li><a href="{:U('Admin/Feedback/handled')}">已处理</a>
              </li>
            </ul>
          </li>          
          <li><a href="{:U('Admin/Category/index')}"><i class="fa fa-list-ol"></i> 分类管理 <span class="fa fa-chevron-down"></span></a>
          </li>
        </ul>
      </div>
      <div class="menu_section">
        <h2>高级</h2>
        <ul class="nav side-menu">
          <li><a><i class="fa fa-users green"></i> 业主管理 <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu" style="display: none">
              <li><a href="{:U('Admin/Users/index')}">业主信息</a>
              </li>
              <li><a href="{:U('Admin/Users/add')}">添加业主信息</a>
              </li>
            </ul>
          </li>
          <li><a><i class="fa fa-users blue"></i> 物业人员管理 <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu" style="display: none">
              <li><a href="{:U('Admin/Mgrs/index')}">物业人员信息</a>
              </li>
              <li><a href="{:U('Admin/Mgrs/add')}">添加物业人员信息</a>
              </li>
            </ul>
          </li>
          <li><a><i class="fa fa-user red"></i> 超级管理员管理 <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu" style="display: none">
              <li><a href="{:U('Admin/Admin/index')}">超级管理员信息</a>
              </li>
              <li><a href="{:U('Admin/Admin/add')}">添加超级管理员信息</a>
              </li>
            </ul>
          </li>                          
          <li><a><i class="fa fa-cog"></i> 权限管理 <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu" style="display: none">
              <li><a href="{:U('Admin/Access/index_list')}">用户列表</a>
              </li>
              <li><a href="{:U('Admin/Access/role_list')}">角色列表</a>
              </li>
              <li><a href="{:U('Admin/Access/node_list')}">节点列表</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

    </div>
    <!-- /sidebar menu -->

    <!-- /menu footer buttons -->
    <!-- <div class="sidebar-footer hidden-small"> -->
    <div class="sidebar-footer">
      <a data-toggle="tooltip" data-placement="top" title="Settings">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="FullScreen">
        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="Lock">
        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="Logout">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
      </a>
    </div>
    <!-- /menu footer buttons -->
  </div>
</div>