<!-- Bootstrap core CSS -->

<link href="__PUBLIC__/admin/css/bootstrap.min.css" rel="stylesheet">

<link href="__PUBLIC__/admin/fonts/css/font-awesome.min.css" rel="stylesheet">
<link href="__PUBLIC__/admin/css/animate.min.css" rel="stylesheet">

<!--[if lt IE 9]>
      <script src="../assets/js/ie8-responsive-file-warning.js"></script>
      <![endif]-->

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
      
<!-- Custom styling plus plugins -->
<link href="__PUBLIC__/admin/css/custom.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/maps/jquery-jvectormap-2.0.3.css" />
<link href="__PUBLIC__/admin/css/icheck/flat/green.css" rel="stylesheet" />
<link href="__PUBLIC__/admin/css/floatexamples.css" rel="stylesheet" type="text/css" />    
<script src="__PUBLIC__/admin/js/jquery.min.js"></script>
