<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>JoyRill智慧社区后台</title>
	<!-- Public core css/js -->
	<include file="Public/public_head"/>
</head>
<body class="nav-md">
	<include file="Public/menu"/>
	<include file="Public/top"/>
	
	<!-- page content -->
	<div class="right_col" role="main">
	</div>
	<!-- /page content -->
	
	<include file="Public/footer"/>
	<include file="Public/public_bottom"/>
</body>
</html>