<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>JoyRill智慧社区后台</title>
	<!-- Public core css/js -->
	<include file="Public/public_head"/>
</head>
<body class="nav-md">
	<include file="Public/menu"/>
	<include file="Public/top"/>
	
	<!-- page content -->
	<div class="right_col" role="main">
		<div class="col-md-12 col-sm-12 col-xs-12">
        	<div class="x_panel">
			    <div class="title">添加角色</div>
			    <div class="container-fluid">
			        <form class="form-horizontal">
			            <div class="form-group">
			                <label for="inputEmail3" class="col-md-1 control-label">名称:</label>
			                <div class="col-md-3">
			                    <input type="text" class="form-control" id="name">
			                </div>
			            </div>
			            <div class="form-group">
			                <label for="inputPassword3" class="col-md-1 control-label">描述:</label>
			                <div class="col-md-3">
			                    <textarea class="form-control" rows="3" id="remark"></textarea>
			                </div>
			            </div>
			            <div class="form-group">
			                <div class="col-md-offset-1 col-md-3">
			                    <a href="javascript:;" class="btn btn-default submit savedata" >保存</a>
			                </div>
			            </div>
			        </form>
			    </div>
			</div>
		</div>			    
	  </div>
	  	<!-- /page content -->
	<include file="Public/footer"/>
	<include file="Public/public_bottom"/>
	<script type="text/javascript">
		$('body').on('click','.savedata',function(){
	    	$.ajax({
	            type: "post",
	            url: "__CONTROLLER__/do_add_role",
	            data: {
	            	'access_token' : getCookie('access_token'),
	            	'name' : $('#name').val(),
	            	'remark' : $('#remark').val()
	            },
	            dataType: "json",
	            success: function(data) {
	            	if(data['code'] == '200' || data['code'] == '-200' || data['code'] == '-201' || data['code'] == '-205' || data['code'] == '-206' || data['code'] == '-207' || data['code'] == '-208'){
	            		alert(data['info']);
	            		location.href = 'http://' + data['data']['redirect_url'];
	            	}
	            },
	            error: function(xhr, type, errorThrown) {
	              //异常处理
	              console.log(type);
	            }
	          }); 			
		})
	</script>
</body>
</html>