<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>JoyRill智慧社区后台</title>
	<!-- Public core css/js -->
	<include file="Public/public_head"/>
</head>
<body class="nav-md">
	<include file="Public/menu"/>
	<include file="Public/top"/>
	
	<!-- page content -->
	<div class="right_col" role="main">
		<div class="col-md-12 col-sm-12 col-xs-12">
        	<div class="x_panel">
				<div class="title">
					<a class="btn btn-default" href="{:U('Admin/Access/add_node')}" >添加节点</a>
				</div>
				<div id="node_list" class="container-fluid">
<!-- 					<foreach name="data" item="v">
						<div style="margin:5px;border-bottom:1px dotted #ccc">
							<button type="button" class="btn btn-primary">{$v['title']}</button>
							<a href="{:U('Admin/Access/add_node',array('pid'=>$v['id'],'level'=>$v['level'] + 1))}">添加</a>
							<a href="{:U('Admin/Access/del_node',array('id'=>$v['id']))}">删除</a>
						</div>
						<foreach name="v['child']" item="con">
							<div style="margin:5px;border-top:1px solid #555">
								<button type="button" class="btn btn-success">{$con['title']}</button>
								<a href="{:U('Admin/Access/add_node',array('pid'=>$con['id'],'level'=>$con['level'] + 1))}">添加</a>
								<a href="{:U('Admin/Access/del_node',array('id'=>$con['id']))}">删除</a>
							</div>
							<div style="margin:5px;">
								<foreach name="con['child']" item="act">
									<button type="button" class="btn btn-info" >{$act['title']}</button>
									<a style="margin-right:10px" href="{:U('Admin/Access/del_node',array('id'=>$act['id']))}">删除</a>
								</foreach>
							</div>
						</foreach>
					</foreach> -->
				</div>
			</div>
		</div>		
	  </div>
	  	<!-- /page content -->
	<include file="Public/footer"/>
	<include file="Public/public_bottom"/>
	<script type="text/javascript">
		window.onload = function(){
	    	$.ajax({
	            type: "post",
	            url: "__CONTROLLER__/node",
	            data: {
	            	access_token : getCookie('access_token'),
	            },
	            dataType: "json",
	            success: function(data) {
	            	if(data['code'] == 200){
	            		//测试
	            		alert(data['data']);
	            		
		            	$('#node_list').append(data['data']);
	            	}
	            	if(data['code'] == '-205' || data['code'] == '-208'){
		            		alert(data['info']);
	            		location.href = 'http://' + data['data']['redirect_url'];	            		
	            	}
	            },
	            error: function(xhr, type, errorThrown) {
	              //异常处理
	              console.log(type);
	            }
	          }); 			
		}
	</script>
</body>
</html>