<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>JoyRill智慧社区后台</title>
	<!-- Public core css/js -->
	<include file="Public/public_head"/>
</head>
<body class="nav-md">
	<include file="Public/menu"/>
	<include file="Public/top"/>
	
	<!-- page content -->
<div class="right_col" role="main">
	<div id="wrapper" style="min-width:900px">
<!-- 		<div id="register" class="animate form"> -->
			   <section class="login_content">
			      <div class="row">
			        <div class="col-md-12 col-sm-12 col-xs-12">
			          <div class="x_panel">
			            <div class="x_content">
			              <form class="form-horizontal form-label-left" id="register_form">
			              	<input type="hidden" id="user_id" value="<?php echo $_GET['user_id'];?>" >
			              	<h1>待审批业主信息</h1>
			              	<div class="item form-group">
			                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="icon_url">头像 <span class="required">*</span>
			                  </label>
			                  <div class="col-md-6 col-sm-6 col-xs-9">
			                    <img src="" id="icon_url" height="100" width="100" name="icon_url" class="" readonly>
			                  </div>
			                </div>
			                <div class="item form-group">
			                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user_nick_name">用户名 <span class="required">*</span>
			                  </label>
			                  <div class="col-md-6 col-sm-6 col-xs-9">
			                    <input id="user_nick_name" name="user_nick_name" class="form-control col-md-7 col-xs-12" maxlength="10" placeholder="" required="required" type="text" readonly>
			                  </div>
			                </div>
			                <div class="item form-group">
			                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user_true_name">真实姓名 <span class="required">*</span>
			                  </label>
			                  <div class="col-md-6 col-sm-6 col-xs-9">
			                    <input id="user_true_name" name="user_true_name" class="form-control col-md-7 col-xs-12" maxlength="10" placeholder="" required="required" type="text" readonly>
			                  </div>
			                </div>
			                <div class="item form-group">
			                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user_gender">性别 <span class="required">*</span>
			                  </label>
			                  <div class="col-md-6 col-sm-6 col-xs-9" style="text-align:left">
			                <div class="btn-group" data-toggle="buttons">
			                  <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
			                    <input type="radio" id="user_gender" name="user_gender" value="1"> &nbsp; 男 &nbsp;
			                  </label>
			                  <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
			                    <input type="radio" id="user_gender" name="user_gender" value="2"> &nbsp; 女 &nbsp;
			                  </label>
			                </div>
			              </div>
			            </div>                    
			            <div class="item form-group">
			              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user_id_card_num">身份证号 <span class="required">*</span>
			              </label>
			              <div class="col-md-6 col-sm-6 col-xs-9">
			                <input id="user_id_card_num" name="user_id_card_num" class="form-control col-md-7 col-xs-12" maxlength="18" placeholder="" required="required" type="text" readonly>
			              </div>
			            </div>   
			            <div class="item form-group">
			              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user_pocn">房产证号 <span class="required">*</span>
			              </label>
			              <div class="col-md-6 col-sm-6 col-xs-9">
			                <input id="user_pocn" name="user_pocn" class="form-control col-md-7 col-xs-12" maxlength="18" placeholder="" required="required" type="text" readonly>
			              </div>
			            </div>                                                                        
			            <div class="item form-group">
			              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user_email">邮箱地址 <span class="required">*</span>
			              </label>
			              <div class="col-md-6 col-sm-6 col-xs-9">
			                <input type="email" id="user_email" name="user_email" required="required" class="form-control col-md-7 col-xs-12" readonly>
			              </div>
			            </div>
			            <div class="item form-group">
			              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user_mobile">手机号 <span class="required">*</span>
			              </label>
			              <div class="col-md-6 col-sm-6 col-xs-9">
			                <input type="text" id="user_mobile" name="user_mobile" required="required" class="form-control col-md-7 col-xs-12" readonly>
			              </div>
			            </div>
			            <div class="ln_solid"></div>
						<div class="form-group">
							<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
								<a href="javascript:;" id="reject" class="btn btn-danger"><li
									class="fa fa-trash"></li> 拒绝</a> <a href="javascript:;"
									id="approve" class="btn btn-success"><li
									class="fa fa-check"></li> 同意</a>
							</div>
						</div>
			            <div class="clearfix"></div>
			          </form>
			        </div>
			      </div>
				</div>
			</div>
			  <!-- form -->
			</section>
			<!-- content -->
<!-- 	      </div> -->
    </div>
</div>
	<!-- /page content -->
	
	<include file="Public/footer"/>
	<include file="Public/public_bottom"/>
  <!-- form validation -->
  <script src="__PUBLIC__/admin/js/validator/validator.js"></script>
  <script>
 	window.onload = function(){
    	$.ajax({
            type: "post",
            url: "__CONTROLLER__/edit_all",
            data: {
            	access_token : getCookie('access_token'),
              	user_id : $('#user_id').val()
            },
            dataType: "json",
            success: function(data) {
            	if(data['code'] == 200){
					$('#user_nick_name').val(data['data']['nick_name']);
					$('#user_true_name').val(data['data']['true_name']);
					if (data['data']['gender'] == 1) {
					    $("input[name='user_gender'][value='1']").attr("checked",true);
					    $("input[name='user_gender'][value='1']").parent().addClass("active");
					}else if(data['data']['gender'] == 2) {
						$("input[name='user_gender'][value='2']").attr("checked",true);
						$("input[name='user_gender'][value='2']").parent().addClass("active");
					}
					$('#icon_url').attr('src','/smart_community' + data['data']['icon_url']);
					$('#user_id_card_num').val(data['data']['id_card_num']);
					$('#user_pocn').val(data['data']['h_pocn']);
					$('#user_email').val(data['data']['email']);
					$('#user_mobile').val(data['data']['mobile']);
            	}
            	if(data['code'] == '-200' || data['code'] == '-205' || data['code'] == '-208'){
	            		alert(data['info']);            		
            	}
            },
            error: function(xhr, type, errorThrown) {
              //异常处理
              console.log(type);
            }
          }); 			
	} 

	//拒绝
	$('body').on(
			'click',
			'#reject',
			function() {
				$.ajax({
					type : "post",
					url : "{:U('Admin/Admin/approving_users/')}",
					data : {
						'access_token' : getCookie('access_token'),
						'id' : $('#user_id').val(),
						'action' : 'reject'
					},
					dataType : "json",
					success : function(data) {
						if (data['code'] == '200A' || data['code'] == '200B' || data['code'] == '-200' || data['code'] == '-205' || data['code'] == '-206' || data['code'] == '-207' || data['code'] == '-208') {
							alert(data['info']);
							location.href = 'http://'
									+ data['data']['redirect_url'];
						}
					},
					error : function(xhr, type, errorThrown) {
						//异常处理
						console.log(type);
					}
				});
			})
	
	//审批
	$('body').on(
			'click',
			'#approve',
			function() {
				$.ajax({
					type : "post",
					url : "{:U('Admin/Admin/approving_users/')}",
					data : {
						'access_token' : getCookie('access_token'),
						'id' : $('#user_id').val(),
						'action' : 'approve'
					},
					dataType : "json",
					success : function(data) {
						if (data['code'] == '200A' || data['code'] == '200B' || data['code'] == '-200' || data['code'] == '-205' || data['code'] == '-206' || data['code'] == '-207' || data['code'] == '-208') {
							alert(data['info']);
							location.href = 'http://'
									+ data['data']['redirect_url'];
						}
					},
					error : function(xhr, type, errorThrown) {
						//异常处理
						console.log(type);
					}
				});
			})
	

	</script>
</body>
</html>