<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>JoyRill智慧社区后台</title>
<!-- Public core css/js -->
<include file="Public/public_head" />
<script type="text/javascript"
	src="__PUBLIC__/admin/ueditor/ueditor.config.js"></script>
<script type="text/javascript"
	src="__PUBLIC__/admin/ueditor/ueditor.all.js"></script>
</head>
<body class="nav-md">
	<include file="Public/menu" />
	<include file="Public/top" />
	<!-- page content -->
	<div class="right_col" role="main">
		<div class="col-lg-10 col-md-10 col-xs-12"
			style="background-color: #FFF;">
			<!-- begin tab -->
			<ul class="nav nav-tabs ">
				<li class="active"><a href=""><b>修改文章</b></a></li>
			</ul>
			<p></p>
			<div class="row">
				<div class="col-lg-2 col-md-2 col-xs-2"></div>
				<div class="col-lg-6 col-md-6 col-xs-6">
					<span class="help-block"></span>
				</div>
				<div class="col-lg-4 col-md-4 col-xs-4"></div>
			</div>
			<p></p>
			<form class="form-horizontal" role="form"
				enctype="multipart/form-data">
				<input type="hidden" id="article_id"
					value="<?php echo $_GET['id']?>">
				<div class="form-group">
					<label for="article_title" class="col-sm-2 control-label">标题</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="article_title"
							name="article_title" value="{$item['atitle']}" maxlength="150">
					</div>
				</div>
				<div class="form-group">
					<label for="article_source" class="col-sm-2 control-label">来源</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="article_source"
							name="article_title" value="{$item['source']}" maxlength="20">
					</div>
				</div>
				<div class="form-group">
					<label for="article_author" class="col-sm-2 control-label">作者</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="article_author"
							name="article_title" value="{$item['author']}" maxlength="20">
					</div>
				</div>
				<div class="form-group">
					<label for="category_id" class="col-sm-2 control-label">文章分类</label>
					<div class="col-sm-3">
						<select class="form-control" id="category_id" name="category_id">
							<volist name="clist" id="vo"> <eq name="vo['acid']"
								value="$item['acid']">
							<option value="{$vo.acid}" selected="selected">{$vo.cname}</option>
							<else />
							<option value="{$vo.acid}">{$vo.cname}</option>
							</eq> </volist>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="article_valid_time" class="col-sm-2 control-label">截至有效时间</label>
					<div class="col-sm-3">
						<input type="date" class="form-control" id="article_valid_time"
							name="article_valid_time" value="{$item['valid_time']}">
					</div>
				</div>
				<div class="form-group">
					<label for="article_des" class="col-sm-2 control-label">摘要</label>
					<div class="col-sm-6">
						<textarea class="form-control" rows="3" id="article_des"
							placeholder="" maxlength="150">{$item['des']}</textarea>
					</div>
				</div>
				<div class="form-group">
					<label for="article_content" class="col-sm-2 control-label">内容</label>
					<div class="col-sm-8">
						<script id="article_content" name="article_content"
							type="text/plain">{$item.content|htmlspecialchars_decode}</script>
						<script type="text/javascript">
							var editor = UE.getEditor('article_content')
						</script>
					</div>
				</div>
				<div class="form-group">
					<label for="article_keyword" class="col-sm-2 control-label">关键词</label>
					<div class="col-sm-3">
						<input id="article_keyword" type="text" class="tags form-control"
							value="{$item['keyword']}" maxlength="100" />
						<div id="suggestions-container"
							style="position: relative; float: left; width: 250px; margin: 10px;"></div>
					</div>
					<div class="col-sm-6">
						<span class="help-block"> <i class="fa fa-exclamation"></i>输入关键词后按回车键
						</span>
					</div>
				</div>
				<div class="form-group">
					<label for="article_sort" class="col-sm-2 control-label">排序</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="article_sort"
							name="article_sort" value="{$item['sort']}" placeholder="">
					</div>
					<div class="col-sm-8">
						<span class="help-block"> <i class="fa fa-exclamation"></i>值为0-99，值越大，越靠前
						</span>
					</div>
				</div>
				<div class="ln_solid"></div>
				<div class="form-group">
					<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
						<button type="sumbit" class="btn btn-success">保存</button>
					</div>
				</div>
			</form>
		</div>
		<!-- col end -->
	</div>
	<!-- /page content -->

	<include file="Public/footer" />
	<include file="Public/public_bottom" />
	<!-- form validation -->
	<script src="__PUBLIC__/admin/js/validator/validator.js"></script>
	<!-- Tags -->
	<script src="__PUBLIC__/admin/js/tags/jquery.tagsinput.min.js"></script>
	<script>
		//input tags
		function onAddTag(tag) {
			alert("Added a tag: " + tag);
		}

		function onRemoveTag(tag) {
			alert("Removed a tag: " + tag);
		}

		function onChangeTag(input, tag) {
			alert("Changed a tag: " + tag);
		}

		$(function() {
			$('#article_keyword').tagsInput({
				width : 'auto'
			});
		});

		// initialize the validator function
		validator.message['date'] = 'not a real date';

		// validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':
		$('form').on('blur',
				'input[required], input.optional, select.required',
				validator.checkField).on('change', 'select.required',
				validator.checkField).on('keypress',
				'input[required][pattern]', validator.keypress);

		$('.multi.required').on('keyup blur', 'input', function() {
			validator.checkField.apply($(this).siblings().last()[0]);
		});

		$('form')
				.submit(
						function(e) {
							e.preventDefault();
							var submit = true;
							// evaluate the form using generic validaing
							if (!validator.checkAll($(this))) {
								submit = false;
							}
							if (submit) {
								$
										.ajax({
											type : "post",
											url : "__CONTROLLER__/editSave",
											data : {
												'access_token' : getCookie('access_token'),
												'article_id' : $('#article_id')
														.val(),
												'article_title' : $(
														'#article_title').val(),
												'article_source' : $(
														'#article_source')
														.val(),
												'article_author' : $(
														'#article_author')
														.val(),
												'category_id' : $(
														'#category_id').val(),
												'article_valid_time' : $(
														'#article_valid_time')
														.val(),
												'article_des' : $(
														'#article_des').val(),
												'article_content' : editor
														.getContent(),
												'article_keyword' : $(
														'#article_keyword')
														.val(),
												'article_sort' : $(
														'#article_sort').val()
											},
											dataType : "json",
											success : function(data) {
												if (data['code'] == '200'
														|| data['code'] == '-205'
														|| data['code'] == '-206' || data['code'] == '-207' || data['code'] == '-208') {
													alert(data['info']);
													location.href = 'http://'
															+ data['data']['redirect_url'];
												} else if (data['code'] == '-200'
														|| data['code'] == '-201A'
														|| data['code'] == '-201B'
														|| data['code'] == '-202') {
													alert(data['info']);
												}
											},
											error : function(xhr, type,
													errorThrown) {
												//异常处理
												console.log(type);
											}
										});
							}
							return false;
						});
	</script>

	<!-- END CORE PLUGINS -->

	<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>