<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>JoyRill智慧社区后台</title>
<!-- Public core css/js -->
<include file="Public/public_head" />
</head>
<body class="nav-md">
	<include file="Public/menu" />
	<include file="Public/top" />

	<!-- page content -->
	<div class="right_col" role="main">
		<input type="hidden" id="category_id"
			value="<?php echo $_GET['category_id']?>">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="col-lg-2 col-md-2 col-xs-2">
				<a class="btn btn-success" href="{:U('Article/add/')}"> <i
					class="fa fa-plus"></i>新增
				</a>
			</div>
			<div class="x_panel">
				<div class="row x_title">
					<div class="col-md-12">
	                  <h3 id="category_name"></h3>
	                </div>				
				</div>
				<ul id="myTab" class="nav nav-tabs " role="tablist">
					<li role="presentation" class="active"><a href="#tab_content1"
						role="tab" id="approved-tab" data-toggle="tab"
						aria-expanded="true">已发布</a></li>
					<li role="presentation" class=""><a href="#tab_content2"
						role="tab" id="pending-tab" data-toggle="tab"
						aria-expanded="false">待审批</a></li>
				</ul>
				<div id="myTabContent" class="tab-content">
					<div role="tabpanel" class="tab-pane fade active in"
						id="tab_content1" aria-labelledby="home-tab">
						<div class="container-fluid">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>ID</th>
										<th>标题</th>
										<th>作者</th>
										<th>来源</th>
										<th>摘要</th>
										<th>关键词</th>
										<th>有效期</th>
										<th>创建时间</th>
										<th>排序</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody id="tab1">

								</tbody>
							</table>
							<div id="pages1"></div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="tab_content2"
						aria-labelledby="profile-tab">
						<div class="container-fluid">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>ID</th>
										<th>标题</th>
										<th>作者</th>
										<th>来源</th>
										<th>摘要</th>
										<th>关键词</th>
										<th>有效期</th>
										<th>创建时间</th>
										<th>排序</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody id="tab2">

								</tbody>
							</table>
							<div id="pages2"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /page content -->

	<include file="Public/footer" />
	<include file="Public/public_bottom" />
	<script type="text/javascript">
		window.onload = function() {
			$
					.ajax({
						type : "post",
						url : "__CONTROLLER__/indexPost",
						data : {
							access_token : getCookie('access_token'),
							num : '10',
							category_id : $('#category_id').val(),
							article_status : 1
						},
						dataType : "json",
						success : function(data) {
							if (data['code'] == 200) {
								$('#category_name').append(data['data']['category_name'][0]['aname']);								$('#category_name2').append(data['data']['category_name'][0]['aname']);
								if (data['data']['count'] == 0) {
									$("#tab1")
											.append(
													"<font color='red'><h5>无文章信息！</h5></font>");
								}
								var len = data['data']['data'].length;
								for (var i = 0; i < len; i++) {
									var array = "/id/"
											+ data['data']['data'][i]['aid'];

									$("#tab1")
											.append(
													"<tr><td>"
															+ data['data']['data'][i]['aid']
															+ "</td><td>"
															+ data['data']['data'][i]['atitle']
															+ "</td><td>"
															+ data['data']['data'][i]['author']
															+ "</td><td>"
															+ data['data']['data'][i]['source']
															+ "</td><td>"
															+ data['data']['data'][i]['des']
															+ "</td><td>"
															+ data['data']['data'][i]['keyword']
															+ "</td><td>"
															+ data['data']['data'][i]['valid_time']
															+ "</td><td>"
															+ data['data']['data'][i]['create_time']
															+ "</td><td>"
															+ data['data']['data'][i]['sort']
															+ "</td><td><a class=\"btn btn-info btn-xs\" href=\""
															+ "{:U(\'Admin/Article/edit" + array + "\')}\"><i class=\"fa fa-pencil\"></i>更新</a>"
															+ "<a class=\"btn btn-danger btn-xs\" href=\""
															+ "{:U(\'Admin/Article/moveToTrash" + array + "\')}\"><i class=\"fa fa-trash\"></i>移到回收站</a></td>"
															+ "</tr>");
								}
								$('#pages1').append(data['data']['page']);
							}
							if (data['code'] == '-205'
									|| data['code'] == '-208') {
								alert(data['info']);
								location.href = 'http://'
										+ data['data']['redirect_url'];
							}
						},
						error : function(xhr, type, errorThrown) {
							//异常处理
							console.log(type);
						}
					});
		}
		$('#pending-tab')
				.one(
						'click',
						function() {
							$
									.ajax({
										type : "post",
										url : "__CONTROLLER__/indexPost",
										data : {
											access_token : getCookie('access_token'),
											num : '10',
											category_id : $('#category_id').val(),
											article_status : 0
										},
										dataType : "json",
										success : function(data) {
											if (data['code'] == 200) {
												if (data['data']['count'] == 0) {
													$("#tab2")
															.append(
																	"<font color='red'><h5>无文章信息！</h5></font>");
												}
												var len = data['data']['data'].length;
												for (var i = 0; i < len; i++) {
													var array = "/id/"
															+ data['data']['data'][i]['aid'];
													$("#tab2")
															.append(
																	"<tr><td>"
																			+ data['data']['data'][i]['aid']
																			+ "</td><td>"
																			+ data['data']['data'][i]['atitle']
																			+ "</td><td>"
																			+ data['data']['data'][i]['author']
																			+ "</td><td>"
																			+ data['data']['data'][i]['source']
																			+ "</td><td>"
																			+ data['data']['data'][i]['des']
																			+ "</td><td>"
																			+ data['data']['data'][i]['keyword']
																			+ "</td><td>"
																			+ data['data']['data'][i]['valid_time']
																			+ "</td><td>"
																			+ data['data']['data'][i]['create_time']
																			+ "</td><td>"
																			+ data['data']['data'][i]['sort']
																			+ "</td><td><a class=\"btn btn-info btn-xs\" href=\""
																			+ "{:U(\'Admin/Article/edit" + array + "\')}\"><i class=\"fa fa-pencil\"></i>更新</a>"
																			+ "<a class=\"btn btn-success btn-xs\" href=\""
																			+ "{:U(\'Admin/Article/detail" + array + "\')}\"><i class=\"fa fa-search-plus\"></i>审批</a>"
																			+ "</tr>");
												}
												$('#pages2').append(
														data['data']['page']);
											}
											if (data['code'] == '-205'
												|| data['code'] == '-206' || data['code'] == '-207' || data['code'] == '-208') {
												alert(data['info']);
												location.href = 'http://'
														+ data['data']['redirect_url'];
											}
										},
										error : function(xhr, type, errorThrown) {
											//异常处理
											console.log(type);
										}
									});
						})
	</script>
</body>
</html>